.auth-container {
  background: rgba(20, 20, 20, 0.95);
  border: 2px solid #39ff14;
  border-radius: 20px;
  box-shadow: 0 0 14px #39ff14;
  padding: 1.5rem;
  max-width: 400px;
  margin: 5.5rem auto;
  width: 95%;
  height:80%;
}

.auth-container h2 {
  color: #39ff14;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2px;
  text-shadow: 0 0 8px #39ff14;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container input {
  background: rgba(10, 10, 10, 0.8);
  border: 2px solid #39ff14;
  border-radius: 8px;
  padding: 0.8rem;
  color: #39ff14;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  }

.auth-container input::placeholder {
  color: rgba(57, 255, 20, 0.5);
}

.auth-container input:focus {
  box-shadow: 0 0 12px #39ff14;
  background: rgba(10, 10, 10, 0.9);
}

.auth-container button {
  width: 6rem;
  background: #39ff14;
  color: #0a0a0a;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 1rem;
  box-shadow: 0 0 12px #39ff14;
  align-self: center;
}

.auth-container button:hover {
  background: #39ff14;
  box-shadow: 0 0 20px #39ff14, 0 0 8px #fff;
}

.auth-container button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.auth-error {
  color: #ff3939;
  text-align: center;
  margin-top: 1rem;
}

.auth-success {
  color: #39ff14;
  text-align: center;
  margin-top: 1rem;
}

.auth-toggle {
  color: #39ff14;
  text-align: center;
  font-size: 15px;
  margin-top: 3rem;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;
}

.auth-toggle:hover {
  color: #fff;
  text-shadow: 0 0 8px #fff, 0 0 70px #39ff14;
  transition: 0.8s;
}

/* Autofill Fix */
.auth-container input:-webkit-autofill,
.auth-container input:-webkit-autofill:hover,
.auth-container input:-webkit-autofill:focus {
  -webkit-text-fill-color: #39ff14;
  box-shadow: 0 0 0px 1000px #0a0a0a inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #39ff14;
}
